"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Appearance
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" First set the colorscheme, so its settings can be easily overwritten
colorscheme desert256 "dante

set columns=120 " width
set lines=52 " height

set guifont=Monaco:h20
"set guifont=CentSchBook\ Mono:h16.00

" Highlight line 80
set colorcolumn=80
highlight ColorColumn guibg=grey5

" Highlight cursor line
set cursorline
highlight CursorLine guibg=grey5

" Disable code-folding
set fdm=marker
set foldclose=all
set nofoldenable

" Show file types in menu
let do_syntax_sel_menu = 1|runtime~! synmenu.vim|aunmenu &Syntax.&Show\ filetypes\ in\ menu

" TODO: No idea WTF these are doing…
set guioptions-=T
set guioptions+=b
iab YDATE <C-R>=strftime("%a %b %d %T %Y")<CR>
let g:explVertical=1

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Archive
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" execute ":cd ~/www/"
" set gfn=fixedsysttf\ 18
" set gfn=Bitstream\ Vera\ Sans\ Mono\ 12
" Saves onblur:
" :au FocusLost * :wa
